
<div class="container">
  <h1>ASK</h1>
  <p>Hello! Ask me any question you want!</p>
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>


